<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>JEE ADVANCED</title>

</head>
<body>

    <h1>JEE ADVANCED WELCOMES YOU</h1> 
    <p>JEE Advanced (Formerly known as IIT JEE) is the second phase of the JEE examination and is usually conducted after the JEE Main exam. It is an important test for engineering aspirants (especially for those who are seeking admission in premier engineering institutes such as IITs). JEE Advanced is a computer-based exam and is usually conducted by seven different Indian IITs (Indian Institute of Technology) on a rotational basis.</p>
    <div class = "second"
<h2>JEE MAINS OVERVIEW</h2>
</div>

<table>
  <tr>
    <th>Name Of Examination</th>
    <th>Jee Advanced</th>
    
  </tr>
  <tr>
    <td>Exam Duration</td>
    <td> 2 Papers of 3 Hour each</td>
    
  </tr>
  <tr>
    <td>Total Marks</td>
    <td>Vary each year</td>
    
  </tr>
  <tr>
    <td>Examination Medium</td>
    <td>13 languages</td>
    
  </tr>
  <tr>
    <td>Examination Category</td>
    <td>Undergraduate Level Exam</td>
    
  </tr>
  <tr>
    <td>Conducting Authority</td>
    <td>Indian Institute of Technology</td>
    
  </tr>
  <tr>
    <td>Purpose</td>
    <td>Admissions to 23 IITs</td>
    
  </tr>
  <tr>
      <td>Mode Of Examination</td>
      <td>Computer Based</td>
  </tr>
  <tr>
      <td>Total Eligible Candidates</td>
      <td>Top 2,50,000 candidates from JEE Main</td>
  </tr>
  <tr>
      <td>Available Seats in IITs</td>
      <td>Varies (Total IIT seats available in 2020 was 13,376)</td>
  </tr>
</table>

<h3>What Is Jee Advanced ?</h3>
<ol>
    <p>t is the only gateway for students to land a seat in premier engineering institutes like IITs.</p>
    <p>It includes 23 IITs offering around 10,988 seats to the eligible candidates.</p>
    <p>Apart from IIT colleges, nine other premier institutes offer admissions based on JEE Advanced score, namely, IISC Bangalore, IISER Bhopal, IISER Kolkata, IISER Mohali, IISER Thiruvananthapuram, IISER Pune, IIST Thiruvananthapuram, RGIPT Rae Bareli, and IIPE Visakhapatnam.</p>
</ol>
<p>The entrance exam consists of two papers – Paper 1 & Paper 2. It is also carried out in two stages (or ‘shifts’) that are held on the same day. It is mandatory for all the students to appear for both the papers in order to be eligible for the merit list. Candidates are granted admissions to various undergraduate courses as well as masters and dual degree programs offered by IITs based on marks scored or ranks secured in the JEE Advanced examination.</p>
<ol>
    <p>The eligibility criteria for seeking admission into Indian Institutes of Technology (IITs) wherein students required to score at least 75 per cent marks in their class 12 exams, has been removed for 2021.</p>
    <p>Students who were not able to appear for the JEE Advanced in 2020 due to the pandemic will have a chance to appear for the JEE Advanced 2021 examination.</p>
</ol>
<h3>Jee Advanced Eligibilty Criteria</h3>
<p>Students who are planning to appear for JEE Advanced are required to meet certain eligibility criteria established by the exam conducting authority. Candidates who do not fulfil the required criteria are not qualified to appear for the JEE Advanced exam. Therefore, candidates are advised to read the eligibility criteria for JEE Advanced carefully before submitting their application form to avoid any discrepancy in the future.</p>
<ol>
    <p>The applicant should have born on or after 1st of October 1995. For the reserved category, the age has been relaxed to 1st of October 1990.</p>
    <p>The candidates are allowed to attempt the exam twice in 2 consecutive years irrespective of whether or not he/she passed the qualifying exam.</p>
    
</ol>
<h3>Types of questions asked</h3>
<ol>
    <p>Section 1 - comprises of multiple correct option type questions</p>
    <p>Section 2 - comprises of Numerical Value type questions</p>
    <p>Section 3 - comprises of Single Correct multiple-choice questions (Paper 1) and Matching list type questions (Paper 2)</p>
</ol>
<h3>Jee Advanced Paper 1</h3>
<ol>
    <p>Section 1 – 6 multiple correct option type questions carrying 4 marks each</p>
    <p>Section 2 – 8 Numerical Value type questions carrying 3 marks each</p>
    <p>Section 3 – 4 Single Correct multiple choice questions carrying 3 marks each</p>
</ol>
<h3>Jee Advanced Paper 2</h3>
<ol>
    <p>Section 1 – 6 multiple correct option type questions carrying 4 marks each</p>
    <p>Section 2 – 8 Numerical Value type questions carrying 3 marks each</p>
    <p>Section 3 – 4 Matching list type questions carrying 3 marks each</p>
</ol>
<h1>ALL THE BEST!!</h1>

</body>
</html>