<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Jee Mains</title>
    <link rel="stylesheet" href="css/style.css">
    
    
</head>
<body>
  
    <div class ="first">
  <h1>JEE MAIN WELCOMES YOU</h1> 
  </div>
  <p> JEE Main is a computer-based online test conducted by National Testing Agency for students aspiring to pursue undergraduate courses in top engineering institutes in India. It is the first phase of the IIT Joint Entrance Exam. The JEE Main examination is conducted in two sessions and candidates can take the exam either in the month of January or in April. The candidates can further opt to appear for one exam or both the exams. The better of two NTA scores will be considered by the exam conducting authority in preparing the ranks/merit list.

More significantly, students are granted admission to IITs, CFITs, NITs, and other Government funded technical institutes based on the marks obtained in JEE Main. Also, the top 2,50,000 students from JEE Main will qualify to appear for JEE Advanced.</p>
<div class = "second"
<h2>JEE MAINS OVERVIEW</h2>
</div>

<table>
  <tr>
    <th>Name Of Examination</th>
    <th>Jee Mains</th>
    
  </tr>
  <tr>
    <td>Exam Duration</td>
    <td>3 Hours</td>
    
  </tr>
  <tr>
    <td>Total Marks</td>
    <td>360 Marks</td>
    
  </tr>
  <tr>
    <td>Examination Medium</td>
    <td>13 languages</td>
    
  </tr>
  <tr>
    <td>Examination Category</td>
    <td>Undergraduate Level Exam</td>
    
  </tr>
  <tr>
    <td>Conducting Authority</td>
    <td>National Testing Agency(NTA)</td>
    
  </tr>
  <tr>
    <td>Purpose</td>
    <td>Admissions to 31 NITs, 23 IIITs and 20 GFTIs</td>
    
  </tr>
  <tr>
      <td>Mode Of Examination</td>
      <td>Computer Based</td>
  </tr>
</table>
<div class ="third"

<h3>What Is Jee Main And Why Should You Take It?</h3>
</div>
<p>JEE Main is a standardized test that is conducted across different states in India. The exam is held at an undergraduate level for offering admissions in some of the best engineering and technical institutions that are Government funded or privately owned. The top reasons for taking the exam are:

It is the only platform for engineering aspirants to land a seat in some of the premier technical institutes.
JEE Main is the first step for IIT aspirants to get admission in top IITs and other colleges across the country through JEE Advanced.</p>
<div class = "four"
<h3>Jee Main Eligibilty Criteria</h3>
</div>
<p>The JEE Main eligibility criteria describes all the terms and conditions that aspirants should satisfy in order to be eligible for the exam. Hence, to avoid rejection in later stages, the students go through and understand the eligibility criteria before registering for the exam. We have highlighted some of the important ones below.</p>

<p>Age Limit: There is no age limit for candidates who wish to appear for JEE Main exams. However, candidates must note that the IITs can set age criteria for admissions. The details are usually published in the JEE Main 2021 Information Brochure.</p>

<p>Qualifying Exam: Irrespective of the age the applicant can qualify if they have cleared their class 12th or any equivalent exam such as a two-year Pre-University exam, Joint Services Wing of the National Defense Academy exam, senior secondary school examination, Higher Secondary Certificate Vocational Examination, Intermediate or two-year Pre-University examination, a diploma recognized by AICTE or a State board, General Certificate Education (GCE) examination (London/Cambridge/Sri Lanka) at the Advanced (A) level, High School Certificate Examination of the Cambridge University or International Baccalaureate Diploma of the International Baccalaureate Office, Geneva.</p>

<p>Year: Students should have appeared for the exam in 2019 or 2020.  Those who are appearing in their class 12th examination in 2021 are eligible to appear in January JEE Main 2021 examination.</p>

<p>Criteria For admissions in NITs, IIITs, and GFTIs: The candidate must secure 75% Marks in their class 12 board exams or should be within the top 20 percentile of their respective boards. For reserved category candidates, the minimum percentage required for admissions in NITs, IIITs, and GFTIs is 65%.</p>

<p>Qualifying Marks: There is no minimum pass percentage for appearing in JEE Main exam. However, the applicants must pass their class 12 board or other equivalent examination.</p>
<h3>Subjects Pursued in the Qualifying Exam:</h3>
<table>
    <tr>
    <td>Physics</td>
    </tr>
    <tr>
    <td>Mathematics</td>
    </tr>
    <tr>
    <td>Any of the following: Biotechnology, Biology, Chemistry, Technical Vocational Subject</td>
    </tr>
    <tr>
    <td>Language Subject</td>
    </tr>
    </tr>
    <td>Optional Subject</td>
    </tr>
</table>
<div class ="five".
<h3>Jee Main Syllabus</h3>
</div>
<p>While the JEE Main syllabus is mainly mapped according to the NCERT textbooks, NTA does prescribe a separate syllabus for JEE. It comprises of topics that are covered in class 11th and 12th standard including subjects such as Maths, Physics and Chemistry.</p>
<p>Students can also refer subject wise detailed syllabus of JEE Main from the links given below.</p>
<ol>

<a href="/physics"><li>Jee Mains Physics Syllabus</li></a>


<a href="/chemistry"><li>Jee Mains Chemistry Syllabus</li></a>


<a href="/maths"><li>Jee Mains Mathematics Syllabus</li></a>

</ol>
<p>The questions asked in the JEE Main exam are easy but require a lot of smart work, practice and effective preparation. One of the major challenges generally faced by students is the time constraint. To overcome this, students need to develop adept problem-solving skills as well as time management skills to ensure the successful completion of the examination. Moreover, before starting their preparations students should acquire an in-depth and clear understanding of each and every topic covered in the syllabus of JEE Main. 

Therefore, candidates should read the syllabus at least once before studying. This exercise will help them gain insight into all the important chapters or topics that they should focus on. Additionally, they can formulate a proper study plan accordingly.</p>

</body>
</body>
</html>
